h1{
  text-align:center;
}
#sec,#flg {
    font-size: 350%;
    font-family: Arial;
}
#flg{
  text-align: center;
}
div{
  text-align: center;
}
h1,p,{
  line-height: 10px;
}
p,th{
  text-align: left;
}
